*{
    margin: 0;
    padding: 0;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


img{
    width: 200px;
    height: 300px;
}

header{
    background-color: #6A0A0A;
    height: 100px;
}
footer{
    background-color: #6A0A0A;
    height: 100px;
}

header > ul > li > a {
    text-decoration: none;
    color: white;
}
main{
   height: auto;
}

body{
    background-color: whitesmoke
}
.carosello-img-artisti{
   /* height: 400px; */
}

.color-black{
    color: black;
}

.height-card{
    height: 750p;
}

.height-card > img{
    height: 500px;
}

.carousel-description{
    margin-left: 65%;
}

.card > img{
    height: 500px;
}


.card > a > img{
    height: 500px;
}

#color-visioni-illustrate{
    color: #E4DDB8 !important;
}

.mg-centro{
    height: 495px;
    margin:0 !important;
}

.py-centro{
    padding-top: 150px !important;
}

.bg-crema{
    color: #6A0A0A;
    background-color: #E4DDB8;
}